* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body{
	background-color: #fff
	color:#000;
	text-rendering: optimizeLegibility;
	font-size: 16px;
	font-family: 'Work Sans','Arial',sans-serif;
	font-weight: 300;
}

.row{
	max-width: 1140px;
	margin: 0 auto;
}

header{
	background-image:-webkit-linear-gradient(rgba(0,0,0,0.3),rgb(0,0,0,0.7)),url(img/header-img.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	position: relative;
}

.header-box{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

h1{
	font-size: 500%;
	color: #fff;
	font-weight: 400;
	margin-bottom: 20px;
}

h3{
	font-size: 200%;
	color: #fff;
	font-weight: 300;
}

.header-box-text{
	margin-bottom: 100px;
}

.clearfix{
	zoom:1;
}

.clearfix:after{
	content: "";
	display: table;
	clear: both;
	visibility: hidden;
}

.btn:link,
.btn:visited,
button{
	text-decoration: none;
	padding: 10px 30px;
	border-radius: 200px;
	display: inline-block;
	border:none;

}

.btn-full:link,
.btn-full:visited,
button{
	background: #ed07b7;
	color: #fff;
	
}

.btn-full:hover,
button:hover{
	background-color: #8e046e;
}

.main-nav{
	list-style: none;
	float: right;
	margin-top: 50px;
}

.main-nav li{
	display: inline-block;
	margin-right: 40px;
	text-transform: uppercase;

}

.main-nav li a:link,
.main-nav li a:visited{
	text-decoration: none;
	color:#fff;
	font-size: 18px;
	font-weight: 700;
	transition: border-bottom 0.2s ;

}

.main-nav li a:hover,
.main-nav li a:active{
	border-bottom: 3px solid #ed07b7 ;
}

.logo{
	height: 120px;
	width: auto;
	float: left;
}

.about-section{
	padding:50px;
	background: #f4f4f4;
}

.lap-img{
	width: 80%;
}

.about-box:first-child{
	text-align: left;
}

.about-box:last-child{
	text-align: right;
}

.about-box .about-heading {
	color: #000;
	font-weight: 600;
	font-size: 50px;
}

.about-box .about-heading-3{
	color: #000;
	font-weight: 400;
	font-size: 20px;
	margin-top: -15px;
	margin-bottom: 30px;
}

.about-box .about-para{
	color: #555;
	font-weight: 400;
	font-size: 18px;
	margin-bottom: 15px;
	opacity: .7;
}
.butt {
	margin-top: 40px;
}

.about-box .btn-ghost{
	border: 2px solid  #ed07b7;
	color:  #ed07b7;
	font-weight: 600;
}

.about-box .btn-ghost:hover{
	background-color: #ed07b7;
	color: #fff;
	transition: background-color .8s ease-out;
}

/*work section*/

.section-heading{
	font-size: 250%;
	color: #000;
	margin-bottom: 20px;
	font-weight: 500;
	margin-top:150px;
	

}


.section-sub-heading{
	font-size: 150%;
	color: #555;
	font-weight: 400;
	margin-bottom: 30px;
	line-height: 1.5;


}

.section-sub-heading::after{
	background-color: #ed07b7;
	width: 100px;
	display: block;
	height: 2px;
	content: "";
	margin: 30px auto 0 auto;
}

.work-section{
	text-align: center;
	
}

.work-portfolio{
	margin-top: 10px;
	list-style:none;
	width: 100%;
}

.work-portfolio li{
	display: block;
	width: 25%;
	float: left;
}

.port-img{
	background: #000;
	overflow: hidden;


}

.port-img img{
	width: 100%;
	opacity: 0.7;
	height: auto;
	transform: scale(1.15);
	transition: transform 0.5s, opacity 0.5s;
}

.work-para{
	color: #fff;
}

.port-img img:hover{
	transform: scale(1);
	opacity: 1;

}

/*services*/

.service-section{
	text-align: center;
	background: #f4f4f4;

}
.service-box{
	padding:3%;
	border-radius: 10px;
	box-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
}

.service-box:hover{
	border-radius: 25px;
	box-shadow:inset 3px 3px 3px #d0d0d0, inset -3px  -3px 3px #f8f8f8;
	transition: all 0.5s ease;

}

.col i{
	font-size: 250%;
	color: #6920b0;
	display: block;
	margin-bottom: 30px;
	opacity: 1;
	transition: transform 0.5s, opacity 0.5s;

}

.col i:hover{
	transform: scale(1);
	opacity: 0.7;
	font-size: 280%;


}

.service-heading{
	font-size: 150%;
	margin-bottom: 30px;
	font-weight: 500;
}

.col .service-para{
	color: #555;
	/*font-family: monospace;*/
	font-weight: 400;
	margin-bottom: 20px;
}

.service-link{
	
	text-decoration: none;
	text-transform: uppercase;
	color: #ed07b7;
	font-weight: 400;
}

.service-link:hover{
	border: 1px solid #6920b0;
	border-radius: 30px;
	padding: 10px;
	cursor: pointer;
	background: #6920b0;
	color: #fff;
	text-align: center;
	transition: all .5s ease;

}

/*partners-section*/

.partners-section{
	text-align: center;
}

.partner-img{
	width: 70%;
	height: auto;
	box-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
	border-radius: 50%;
	margin-bottom: 50px;
}

.partner-img:hover{
	border-radius: 50%;
	cursor: pointer;
	/*border:1px solid #ed07b7;*/
	opacity: .9;
	box-shadow:inset 3px 3px 3px #d0d0d0, inset -3px  -3px 3px #f8f8f8;
	transition: all 0.5s ease;
}

.testi-section{
	background-image:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.7)) ,url(img/testimonial-background.jpg);
	text-align: center;
	background-attachment: fixed;
	background-size: cover; 
	padding: 100px;

}

.testi-heading{
	font-size: 250%;
	margin-top: 100px;
	margin-bottom: 25px;
	text-align: center;
}
.testi-box{
	text-align: left;
	margin-bottom: 50px;
}
blockquote{
	margin-top: 40px;
	padding: 2%;
	line-height: 145%;
	font-style: italic;
	position: relative;
}

.testi-para{
	color: #fff;
	font-weight: 400;
	margin-bottom: 40px;

}  
.testi-para:before{
	content: "\201C";
	display: block;
	font-size: 500%;
	position: absolute;
	left: -5px;
	top:-8px;
}


cite{
	display: block;
	color: #fff;
	margin-top: 25px;
	font-size: 90%;
}

cite img{
	border-radius: 50%;
	height: 20%;
	vertical-align: middle;
	margin-right: 15px;
}

.packages-section{
	text-align: center;
	background-color: #f4f4f4;
}

.packages-heading{
	color: black;
	font-size: 250%;
	margin-bottom: 40px;
	margin-top: 150px;
	text-transform: capitalize;

}

.pakage-box{
	background: #fff;
	width: 90$;
	box-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
	text-align: left;
	/*padding: 10px 40px 10px 40px;*/
	border-radius:30px;


}


.pa-heading{
	color:#555;
	font-size: 150%;
	font-weight: 400;
	text-align: center;
	margin-bottom: 50px;
	padding-top:20px;

}

.pa-price{
	color:#ed07b7;
	font-size: 300%;
	font-weight: 600;
	margin-bottom: 20px;

}

.pa-price span{
	color:#ed07b7;
	font-size: 30%;
	font-weight: 500;
}

.pa-para{
	color: #555;
	font-size: 90%;
	font-weight: 400;
	margin-bottom: 20px;

}

.pakage-box ul {
	list-style: none;
}

i.small-icon{
	font-size:150%;
	display: inline-block;
	margin-right: 10px;
	width: 30px;
	text-align: center;
}

i.small-icon:hover{
	font-size:150%;
	color:#ed07b7;
	opacity: .4;
}

.pakage-box ul li{
	color: #555;
	padding:5px 0;
	font-weight: 400;

}

.pakage-box div{
	padding: 15px;
	border-bottom: 1px solid #efefef;
	


}

.pakage-box div:last-child{
	border:0;
	text-align: center;

}

.pakage-box div:first-child{
	background: #fefefe;
}

.contact-section{
	text-align: center;
}

 .contact-form{
 	text-align: left;
	width: 60%;
	margin: 0 auto;
  	color: #555;


 }

 label{
 	font-weight: 400;
 	color:#555;


 }

 input[type=text],
 input[type=email],
  textarea{
 	width: 100%;
 	padding: 8px;
 	border-radius: 8px;
 	border:1px solid  #ccc;
}

textarea{
	height: 100px;
}

 input[type=checkbox]{
 	margin: 0px 5px 10px 0;
 	
 }

 span.check{
  	color: #555;
  	font-weight: 400;
 	margin: 0px 5px 10px;

  }

  button.mybtn{
  	border:0;
  	margin-bottom: 60px;
  }

  *:focus{
  	outline: none;
  }

  footer{
  	background: #333;
  	padding: 50px;
  	font-size: 80%;
  	font-weight: 400;
  	color: #888;
  }

  .footer-nav{
  	float: left;
  }

.footer-nav li{
	list-style: none;
	display: inline-block;
	margin-right: 20px;
}


.footer-nav li a:link,
.footer-nav li a:visited{
	text-decoration: none;
	color: #888;
	font-weight: 500;
	transition: all 0.5s;

}
.footer-nav li a:hover,
.footer-nav li a:active{
	color: #fff;
	border-top: 1px solid #555;
	border-bottom:  1px solid #555;
	transition: all 0.5s ease;

}


.socal-links{
	float: right;
}
.socal-links li{
	list-style: none;
	display: inline-block;
	margin-left: 20px;
}

.socal-links li a:link,
.socal-links li a:visited{
	text-decoration: none;
	color: #888;
	font-weight: 500;
}

.socal-links li a i{
	color: #888;
	font-size: 160%;

}

.socal-links li a i:hover{
	font-size: 160%;
}

.fa-facebook-f:hover{
	color: #3B5998;
}

.fa-twitter:hover{
	color: #33CCFF;

}

.fa-google-plus-g:hover{
	color: #C63D2D;

}

.fa-instagram:hover{
	color: #c32aa3;

}

.fa-snapchat-ghost:hover{
	color: #fffc00;
}
.fa-telegram-plane:hover{
	color: #61bed9;

}

footer p{
	text-align: center;
	margin-top: 50px;
	line-height: 1.5;
}


